@import 'modules/breakpoints.module.scss';
@import 'modules/max-width.module.scss';

:root {
  --max-width: 1920px;

  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 32px;
  --padding-xl: 64px;

  --body-distance-desktop: var(--padding-xl);
  --body-distance-tablet: var(--padding-l);
  --body-distance-smartphone: var(--padding-s);

  --light: 255, 255, 255; // #ffffff
  --dark: 60, 60, 60; // #3c3c3c
  --highlight: 9, 138, 0; // #098a00

  --border-alpha: .15;
  --border-color: rgba(var(--dark), var(--border-alpha));

  --header-height-desktop: 80px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--dark));
  background: rgb(var(--light));
}

a {
  color: rgb(var(--highlight));
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

main {
  @include max-width;
  height: 100vh; // for testing purpose only!
  padding: {
    top: var(--padding-m);
    bottom: var(--padding-m);
  }
}
