@mixin max-width {
  max-width: var(--max-width);
  padding: 0 var(--body-distance-smartphone);

  @include sm-breakpoint {
    padding: {
      left: var(--body-distance-tablet);
      right: var(--body-distance-tablet);
    }
  };

  @include md-breakpoint {
    padding: {
      left: var(--body-distance-desktop);
      right: var(--body-distance-desktop);
    }
  };
}
