/*
  - z-indexes map: gathering of all z values of the application
  - element order in the list determines the z-index
*/
$z-indexes: (
  footer,
);

/*
  get z-index value from element name

  @access public
  @param {String} $element - Layer's name
  @param {Map} $list - [optional] list of elements
  @return {Number}
  @require $z-indexes
*/
@function z($element, $list:"") {
  @if $list == "" {
    $list: $z-indexes;
  }

  $z-index: index($list, $element);

  @if $z-index {
    @return $z-index;
  }

  @warn 'There is no item "#{$element}" in this list; choose one of: #{$list}';
  @return null;
}
